.navbar {
  background-color: #f0bee5;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  font-weight: bold;
}

.navbar a:hover {
  color: #ed14a5;
}

.navbar li:last-child {
  margin-left: auto;

}
